# -------------------------------------------------------------------------
# Custom
# -------------------------------------------------------------------------
flutter_sdk_install.md


# -------------------------------------------------------------------------
# Flutter / Dart 기본 빌드 파일 및 캐시
# -------------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# -------------------------------------------------------------------------
# Android Studio / IntelliJ 관련 설정 파일 (핵심!)
# -------------------------------------------------------------------------
.idea/
*.iml
*.ipr
*.iws
.modules.xml
.tasks.xml
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# -------------------------------------------------------------------------
# VS Code 관련 설정 파일
# -------------------------------------------------------------------------
.vscode/

# -------------------------------------------------------------------------
# Mac / Linux 시스템 생성 파일 (리눅스 민트 환경 고려)
# -------------------------------------------------------------------------
.DS_Store
.directory
*~
*.swp
*.bak
*.tmp

# -------------------------------------------------------------------------
# iOS 관련 (추후 Mac 환경에서 빌드하게 될 경우 대비)
# -------------------------------------------------------------------------
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# -------------------------------------------------------------------------
# 웹 및 윈도우/리눅스 데스크톱 빌드 관련
# -------------------------------------------------------------------------
linux/flutter/ephemeral/
windows/flutter/ephemeral/
astext/


# -------------------------------------------------------------------------
# 환경변수 파일
# -------------------------------------------------------------------------
*.env

# -------------------------------------------------------------------------
# 안드로이드 앱 배포용 키스토어
# -------------------------------------------------------------------------
*.jks
*.keystore
